In [64]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

%matplotlib inline

In [65]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-12-26 19:27:33,42.6001,-73.9662,40.46,71,13,1.99
1,1,Ushuaia,AR,2021-12-26 19:29:30,-54.8000,-68.3000,55.06,41,20,28.77
2,2,Mataura,NZ,2021-12-26 19:29:30,-46.1927,168.8643,55.47,98,100,1.54
3,3,Kodiak,US,2021-12-26 19:25:02,57.7900,-152.4072,38.71,87,1,0.00
4,4,Qaanaaq,GL,2021-12-26 19:29:30,77.4840,-69.3632,-2.60,97,100,1.74
5,5,Strezhevoy,RU,2021-12-26 19:29:31,60.7333,77.5889,-13.02,97,5,5.79
6,6,Luanda,AO,2021-12-26 19:26:51,-8.8368,13.2343,78.80,78,90,12.66
7,7,Wanaka,NZ,2021-12-26 19:29:31,-44.7000,169.1500,57.11,86,100,7.00
8,8,Road Town,VG,2021-12-26 19:28:05,18.4167,-64.6167,82.49,65,20,6.91
9,9,Cortez,US,2021-12-26 19:29:32,37.3489,-108.5859,42.51,59,90,31.07

In [66]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [67]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [68]:
g_key

'AIzaSyA9N-bxV0hxwog3CrKoXbxDQpddGqxlRt0'

In [69]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [70]:
# Heatmap of temperature.

# 1. Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# 2. Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable.
fig = gmaps.figure()
# 4. Assign the heatmap variable to the heatmap_layer attribute and add in locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [75]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Luanda,AO,2021-12-26 19:26:51,-8.8368,13.2343,78.80,78,90,12.66
8,8,Road Town,VG,2021-12-26 19:28:05,18.4167,-64.6167,82.49,65,20,6.91
10,10,Atuona,PF,2021-12-26 19:29:33,-9.8000,-139.0333,79.47,68,84,19.10
19,19,Busselton,AU,2021-12-26 19:29:36,-33.6500,115.3333,76.05,53,70,13.76
28,28,Pimentel,PE,2021-12-26 19:29:39,-6.8367,-79.9342,77.29,57,0,16.11
31,31,Mahebourg,MU,2021-12-26 19:29:40,-20.4081,57.7000,79.09,89,40,6.91
33,33,Mogadishu,SO,2021-12-26 19:27:13,2.0371,45.3438,79.99,81,52,16.44
34,34,Pasco,US,2021-12-26 19:29:40,28.2920,-82.4165,80.19,62,3,4.00
36,36,Castro,BR,2021-12-26 19:29:41,-24.7911,-50.0119,81.82,35,31,9.40
38,38,Carnarvon,AU,2021-12-26 19:29:41,-24.8667,113.6333,75.27,88,98,5.75

In [76]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [77]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
6      Luanda      AO     78.80  -8.8368   13.2343
8   Road Town      VG     82.49  18.4167  -64.6167
10     Atuona      PF     79.47  -9.8000 -139.0333
19  Busselton      AU     76.05 -33.6500  115.3333
28   Pimentel      PE     77.29  -6.8367  -79.9342
31  Mahebourg      MU     79.09 -20.4081   57.7000
33  Mogadishu      SO     79.99   2.0371   45.3438
34      Pasco      US     80.19  28.2920  -82.4165
36     Castro      BR     81.82 -24.7911  -50.0119
38  Carnarvon      AU     75.27 -24.8667  113.6333

In [78]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the lat and long to locatio key for the params dictionary.
    params["location"] =f"{lat}, {lng}"
    
    #use the search term: "Lodging and our la and long"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make a request and get the json data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the 1st hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [79]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
     print("Hotel not found... skipping.")

In [80]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [82]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [83]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [84]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))